.main {
  padding: 10rem;
  /* background-color: gray; */
}

.links-div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#cat-img {
 width: 10rem;
}

.cat-img-card {
  margin-top: 1rem;
  width: 11rem;
  height: 12.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}